@media (max-width: 575.98px) {
    .hero_img2 {display: none;}
    .inner_service {margin: 0 auto;}
    .experience{margin-left: auto !important;margin-right: auto !important;}
    .card{margin: 0 auto;}
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .hero_img2 {display: none;}
    .inner_service {width: 80%; margin: 0 auto;}
    .experience{width: 280px; margin-left: auto !important;margin-right: auto !important;}
    .card{width: 28rem !important; margin: 0 auto;}
}